//btns
.btn-transparent {
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: $theme-color;
  border: solid 2px $theme-color;
  padding: 5px;
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
  &:hover {
    background-color: $theme-color;
    color: white;
  }
}

.btn-accent {
  display: inline-block;
  padding: 10px 15px;
  font-size: 24px;
  text-decoration: none;
  color: white;
  background-color: $theme-color;
  border: solid 2px transparent;
  margin-bottom: 20px;
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
  &:hover {
    background-color: transparent;
    color: $theme-color;
    border-color: $theme-color;
  }
}

.btn-white {
  display: inline-block;
  padding: 10px 15px;
  font-size: 24px;
  text-decoration: none;
  color: $theme-color;
  background-color: white;
  border: solid 2px transparent;
  margin-bottom: 20px;
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
  &:hover {
    background-color: transparent;
    border-color: white;
    color: white;
  }
}

blockquote {
  text-align: center;
  margin:  0 0 40px 0;
  .text-blockquote {
    margin-bottom: 10px;
    font-size: 30px;
    font-style: italic;
    color: white;
  }
  .author {
    font-size: 24px;
    color: white;
    .stars {
      font-size: 30px;
    }
  }
  @media only screen and (max-width: 1200px) {
    .text-blockquote {
      font-size: 24px;
    }
    .author {
      font-size: 18px;
    }
  }
  @media only screen and (max-width: 992px) {
    .text-blockquote {
      font-size: 20px;
    }
    .author {
      font-size: 16px;
    }
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.check-list {
  margin: 30px 0;
  li {
    position: relative;
    font-size: 28px;
    font-weight: bold;
    padding: 20px 0 20px 90px;
    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -34px;
      width: 77px;
      height: 68px;
      display: inline-block;
      margin-right: 10px;
      background: url("../img/home/check-icon.png") no-repeat 50% 50%;
      background-size: cover;
    }
  }
  @media only screen and (max-width: 1200px) {
    li {
      font-size: 24px;
      padding: 20px 0 20px 60px;
      &:before {
        width: 50px;
        height: 44px;
        margin-top: -22px;
      }
    }
  }
  @media only screen and (max-width: 992px) {
    li {
      font-size: 20px;
    }
  }
  @media only screen and (max-width: 768px) {
    li {
      padding: 15px 0 15px 50px;
      &:before {
        width: 39px;
        height: 34.4px;
        margin-top: -17px;
      }
    }
  }
}
