.main-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  .container {
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .main-logo {
    flex-basis: 200px;
    display: flex;
    margin-top: -15px;
    z-index: 9;
    text-decoration: none;
    span {
      font-family: 'TheMix-7Bold', sans-serif;
      font-size: 38px;
      text-decoration: none;
      color: $theme-color;
      sup { font-size: 25px; }
    }
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1000;
    ul {
      li {
        font-size: 28px;
        display: inline-block;
        @media only screen and (max-width: 1200px) { font-size: 24px; }
        &:after {
          content: "|";
          font-size: inherit;
        }
        &:last-child:after { display: none; }
        a {
          font-size: inherit;
          text-transform: uppercase;
          text-decoration: none;
          padding: 20px;
          color: $theme-color;
          &:hover { text-decoration: underline; }
        }
      }
    }
    @media only screen and (max-width: 768px) { display: none; }
  }
  .mobile-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
  }
  .mobile-toggle {
    display: none;
    width: 30px;
    font-size: 20px;
    cursor: pointer;
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
    @media only screen and (max-width: 768px) {
      display: block;
      z-index: 4;
    }
    span {
      display: block;
      width: 30px;
      height: 3px;
      margin-bottom: 6px;
      border-radius: 1000px;
      background-color: #414141;
      -webkit-transition: all 200ms ease-in;
      -moz-transition: all 200ms ease-in;
      transition: all 200ms ease-in;
      &:last-child {  margin-bottom: 0; }
    }
  }
}

.main-header.open-nav {
  position: fixed;
  z-index: 99;
  .main-logo {
    span { color: white; }
  }
  .mobile-toggle {
    span {
      background-color: white;
      &:nth-child(1) {
        position: relative;
        top: 4px;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
      }
      &:nth-child(2) {
        position: relative;
        display: none;
      }
      &:nth-child(3) {
        position: relative;
        top: -5px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
      }
    }
  }
  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    background: $theme-color-second;
    z-index: 2;
    height: auto;
    height: 100vh;
    width: 100%;
    ul {
      margin-bottom: 30px;
      li {
        display: block;
        margin-bottom: 20px;
        a { color: white; }
        &:after { display: none; }
      }
    }
    .btn-transparent {
      color: white;
      border-color: white;
    }
  }
}