.hero-block {
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding-top: 90px;
  .big-nopalea-logo {
    img { max-width: 500px; }
  }
  &:before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    z-index: 2;
    background: -moz-linear-gradient(top,  rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  }
  @media only screen and (max-width: 992px) {
    &:after {
      content: "";
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(255,255,255,.25);
      z-index: 2;
    }
  }
  .hero-content {
    position: relative;
    z-index: 3;
    width: 65%;
    padding: 60px 0 120px;
    h1 {
      font-size: 78px;
      text-transform: uppercase;
      font-family: 'Korolev Heavy', sans-serif;
      margin: 20px 0;
      color: $theme-color;
      text-shadow: 8px 10px 20px rgba(255, 255, 255, 0.9)
    }
    .sub-title {
      font-size: 41px;
      font-family: 'Korolev Medium', sans-serif;
      margin-bottom: 80px;
      color: $theme-color;
      text-shadow:8px 10px 20px rgba(255, 255, 255, 0.9)
    }
  }
  @media only screen and (min-width: 1681px) {
    .hero-content {
      padding: 150px 0 200px;
    }
  }
  @media only screen and (max-width: 1200px) {
    .hero-content {
      h1 { font-size: 50px; }
      .sub-title { font-size: 32px; }
    }
  }
  @media only screen and (max-width: 992px) {
    .hero-content { width: 100%; }
  }
  @media only screen and (max-width: 768px) {
    .big-nopalea-logo {
      img {
        width: 300px;
        max-width: 100%;
      }
    }
  }
  @media only screen and (max-width: 450px) {
    .hero-content {
      padding: 25px 0 50px;
      h1 { font-size: 40px; }
      .sub-title { font-size: 24px; }
    }
  }
}

.hero-block.hero-home {
  background-position: 100% 50%;
  background-image: url("../img/home/intro-img.jpg");
  @media only screen and (max-width: 768px) {
    background-position: 90% 50%;
  }
  @media only screen and (max-width: 450px) {
    background-position: 85% 50%;
  }
}

.hero-block.hero-science {
  background-position: 100% 50%;
  background-image: url("../img/science/intro-science-img.jpg");
  .hero-content {
    h1 {
      font-size: 50px;
      font-family: "Roboto Condensed", sans-serif;
      margin-bottom: 50px;
    }
  }
  @media only screen and (max-width: 768px) {
    .hero-content {
      h1 { margin-bottom: 30px; }
    }
  }
}

.hero-block.hero-product {
  background-position: 100% 50%;
  background-image: url("../img/product/intro-product-img.jpg");
  .hero-content {
    width: 50%;
    h1 { font-size: 55px; }
    .sub-title {
      font-size: 32px;
      margin-bottom: 50px;
    }
  }
  @media only screen and (max-width: 992px) {
    .hero-content { width: 65%; }
  }
  @media only screen and (max-width: 768px) {
    background-position: 80% 50%;
    .hero-content {
      width: 100%;
      .sub-title { margin-bottom: 30px; }
    }
  }
  @media only screen and (max-width: 450px) {
    .hero-content {
      .sub-title { font-size: 24px; }
    }
  }
}