
@font-face {
  font-family: 'TheMix-7Bold';
  src: url('TheMix-7Bold.eot?#iefix') format('embedded-opentype'),  url('TheMix-7Bold.woff') format('woff'), url('TheMix-7Bold.ttf')  format('truetype'), url('TheMix-7Bold.svg#TheMix-7Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
